.background {
	-fx-background-color: #ddd;
}
.banner{
	-fx-font-family: "Consolas";
	-fx-font-size: 24px;
	-fx-alignment: center;
	-fx-text-alignment: center;
}


.container {
	-fx-background-color: #fff;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 30, 0, 0, 0);
	-fx-vgap: 10px;
	-fx-hgap: 10px;
}

.btn-primary {
	-fx-background-color: #03c4eb;
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
	-fx-scale-shape: true;
	-fx-background-radius: 0;
	-fx-border-color: #03c4eb;
}


.btn-primary:hover {
	-fx-background-color: #fff;
	-fx-text-fill: #03c4eb;
	-fx-cursor: hand;
}

.btn-secondary {
	-fx-background-radius: 0;
	-fx-background-color: #fff;
	-fx-border-color: #333;
	-fx-scale-shape: true;
}

.btn-secondary:hover {
	-fx-background-color: #333;
	-fx-border-color: #333;
	-fx-text-fill: #fff;
	-fx-cursor: hand;
}